---
layout: default
---

<div class="w3-container" style="margin-top:75px">
<div class="w3-row-padding-2px">
{% for post in site.posts %}
<div class="w3-third">
   <div class="w3-card-4 w3-margin" style="min-height:600px">
       <img src="{{ site.baseurl }}{{ post.img }}" style="width:100%">
       <div class="w3-container">
           <h3><b>{{ post.title }}</b></h3><br />
           <button class="w3-button w3-round-large w3-purple">
              <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}
           </button>
           <p>{{ post.content | strip_html | truncatewords: 40 }}</p><br />
           <span class="w3-tag">
           <a href="{{ site.baseurl }}/category/{{ post.category }}">Category: {{ post.category }}</a>
           </span>
       </div>
   </div>
</div>
{% endfor %}
</div>
</div>
{% comment %}
<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
{% endcomment %}
