<footer class="w3-container w3-center w3-red w3-margin-top">
  <p>Find me on social media.</p>
  <div class="social">
   {% for x in site.data.social %}
     <a target="_blank" href="{{ x.link }}">
     <i class="fa fa-{{ x.icon }} fa-2x" style="color:{{ x.color }}"></i></a>
   {% endfor %}
  </div>
  <p>Made with by <a href="https://chipprogrammer.blogspot.com" target="_blank">Arun</a></p>
</footer>
<style>
.social [class*="fa fa-"] {
    background-color: #ffffff;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: auto 2px;
    width: 50px;
    text-align: center;
}
 </style>
