{% if page.img %}<div class="splash-container" style="background: #1f8dd6; background-image:url({{ site.url }}{{ site.baseurl }}{{ page.img }});background-repeat: no-repeat; background-size: auto">
{% else %}}<div class="splash-container" style="background: #1f8dd6; background-image:url({{ page.img_url }});background-repeat: no-repeat;">{% endif %}
    <div class="splash">
        <h1 class="splash-head">{{ page.title }}</h1>
        <p class="splash-subhead">
            Posted On: 
        </p>
    </div>
</div>
