<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Good</title>
{% include head.html %}
</head>
<body style="text-align: justify">
  {% include navbar.html %}
   <div class="w3-container myFont" style="margin-top:75px">
     <div class="w3-content">
     <h1 class="w3-xlarge w3-padding w3-text-red w3-leftbar w3-border-red"><b>{{ page.title }}</b></h1>
     {{ content }}
  </div>
</div>
  {% include footer.html %}
  {% include scripts.html %}
<script src="{{ site.baseurl }}/assets/js/super-search.js"></script>
</body>
</html>
